.btn {
    margin: 2px;
}

#main {
    padding-bottom: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ccc;
    border-top: 2px solid #1b9e77;
    padding-top: 4px;
    padding-bottom: 3px;
    margin-bottom: 0px;
    text-align: center;
}

.footer p {
    margin-bottom: 0px;
}

/* Input fields with clear button */
.input-container {
    position: relative;
}

.input-container input {
    padding-right: 30px; /* Space for the clear button */
}

.input-container .clear-button {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-weight: bold;
    color: #888;
}
